<app-navigation></app-navigation>

<form>
  <div class="m-4 text-danger custom-stuff">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control custom-margin" id="exampleInputEmail1" aria-describedby="emailHelp">
    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
  </div>
  <div class="m-4 text-danger custom-stuff">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control custom-margin" id="exampleInputPassword1">
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <a href="/signup" class="m-2">Don't have an account? Click here to Sign up</a>
    <button type="submit" class="btn btn-danger mb-4 ms-4">Submit</button>
  </div>
</form>

<app-footer></app-footer>
